<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script>
    var pageData = {
      "user_id": {{.user_id }},
    }
  </script>
  <title>主页</title>
  {{ template "head" }}
</head>
<body>
{{ template "navbar" .}}
{{ if .session_token }}
<div id="document-list">
  <a href="/document/new/markdown" class="document-card">
    <div class="document-card-icon-container">
      <div class="document-card-icon icon-type-0"></div>
    </div>
    <span class="document-card-title">新建Markdown</span>
  </a>
  <a href="/document/new/excel" class="document-card">
    <div class="document-card-icon-container">
      <i class="document-card-icon icon-type-0"></i>
    </div>
    <span class="document-card-title">新建Excel文档</span>
  </a>
</div>


<script src="/web/assets/js/getUserDocument.js"></script>
{{ end }}
{{ template "footer" }}
</body>

</html>