<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页</title>
    {{ template "head"}}

</head>
<body>
{{ template "navbar" .}}
<h1>注册页</h1>
<form action="/register" id="registerForm" method="post">
    <label for="username">用户名:</label>
    <input type="text" id="username" name="username" required><br><br>
    <label for="password">密码:</label>
    <input type="password" id="password" name="password" required><br><br>
    <label for="confirm-password">确认密码:</label>
    <input type="password" id="confirm-password" name="confirm-password" required><br><br>


</form>
<button id="registerBtn">注册</button>
<div id="error-message"></div>
</body>
<script src="/web/assets/js/register.js"></script>
</html>